@import url(./config.css);
.clear{
	clear: both;
}



.topnav{
	overflow: hidden;
	background-color: beige;
	padding: 20px 16px;
}

.topnav a{
	float: left;
	display: block;	
}

.topnav nav ul{
	list-style-type: none;
}

.topnav nav ul li a{
	float: right;
	color: var(--primary);
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase
}

.topnav nav ul li a:hover{
	color: var(--secundary);
}

.topnav .icon{
	display: none;
}









/**Header do site**/
/*
header{
	padding:20px 4%;
}

header .logo img{
	float: left;
	width: 200px;
}

nav.menu-mobile{
	float: right;
	width: 28px;
	height: 28px;
	margin-top:7px;
	cursor: pointer;
	background-image: url('../imagens/menu-mobile.png');
	background-size:100% 100%;
	display: none;
}

nav.menu-mobile ul{
	z-index: 999;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 100px;
	background-color: white;
}

nav.menu-mobile ul li{
	text-transform: uppercase;
	padding:10px 0;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	padding:8px 0;
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	padding:0 20px;
	text-transform: uppercase;
}

header ul li{
    font-size: 16px;
    font-weight: bold;
}

header ul li a{
    text-decoration: none;
    color: var(--primary);
}

header ul li a:hover{
    border-bottom: 4px solid var(--secundary);
    color: var(--secundary);
}

/*****/
