@import url(./config.css);
.clear{
	clear: both;
}



.topnav{
	overflow: hidden;
	background-color: beige;
	padding: 20px 16px;
}

.topnav a{
	float: left;
	display: block;	
}

.topnav nav ul{
	list-style-type: none;
}

.topnav nav ul li a{
	float: right;
	color: var(--primary);
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase
}

.topnav nav ul li a:hover{
	color: var(--secundary);
}

.topnav .icon{
	display: none;
}
